@model List<Movie_website.Models.Movie>

<div class="container mt-5">
    <h2 class="text-white">Min ønskeliste (@Model.Count film)</h2>

    @if (!Model.Any())
    {
        <p class="text-white">Din ønskeliste er tom 😢-------</p>
    }
    else
    {
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4 mt-3">
            @foreach (var movie in Model)
            {
                <div class="col">
                    <a href="/Movies/Details/@movie.Id" style="text-decoration: none;">
                        <img src="@movie.PosterUrl" class="img-fluid rounded shadow bg-black" style="height: 300px; object-fit: contain;" alt="@movie.Title" />
                        <p class="mt-2 text-white text-center" style="font-size: 0.9rem;">@movie.Title</p>
                    </a>

                    <form method="post" action="/Movies/RemoveFromWishlistAndReturnToWishlist">
                        <input type="hidden" name="id" value="@movie.Id" />
                        <button class="btn btn-outline-danger btn-sm w-100 mt-2">Fjern</button>
                    </form>
                </div>
            }
        </div>
    }
</div>